# Langgraph requirements
langgraph

# Langchain requirements
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters

# Other requirements
dotenv
pydantic
chromadb
striprtf
RTFDE

#FastAPI requirements
fastapi
uvicorn

# GUI requirements
streamlit
pandas